body{
    text-align: center;
}
h1{
    font-family: cursive;
    font-size: 50px;
}
h2{
     font-family:monospace;
    font-size:25px;
}
.welcome img{
    border-radius: 50%;
    width: 500px;
    height: 300px;
}
.welcome{
    background: linear-gradient(lightpink 20%, Coral 80%);
    position: absolute;
    top: 0;
    margin-bottom: 0;
    right:0;
    left:0;
}
#name{
    color:darkgreen;
    font-size: 28px;
    font-family: sans-serif;
        
}
#cod{
    font-size:40px;
    font-family:fantasy;
}